<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head') %> 
    <link rel="stylesheet" href="/css/productDetail.css">
 
</head>
<body>
    <header>
        <%- include('../../partials/header') %> 
    </header>

    <section >

     <h2> DOMOS</h2>

               
                    <% productos.forEach((producto)=> {%>
    
                    <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="https://www.ecocamp.travel/hubfs/Standard%20Dome%20EcoCamp%20Patagonia%201920x1281_960.webp" alt="Card image cap">
              <div class="card-body">
                <a href="/booking/detalle/<%= producto.id %>">
                <h5 class="card-title"><%= producto.name%></h5>
                <p class="card-text"> 
                    Destinos disponibles
                    <li><%= producto.destination %></li>
                    
              Estan permitidos hasta <%= producto.pax %> pasajeros por Domo
              <div class="card-footer">
                <small class="text-muted">precios a partir de ...<%= producto.prize %></small>
              </div>
            </div>
         
                    <% }) %>
                

   
            <div class="card">
              <img class="card-img-top" src="https://www.ecocamp.travel/hubfs/Superior%20Dome%20Interior_960.webp" alt="Card image cap">
              <div class="card-body">
                <a href="/productDetail/2">
                <h5 class="card-title">Domo SUPERIOR</h5>
                <p class="card-text">Destinos disponibles
                    <li>Patagonia</li>
                    <li>Lobos</li>
                    <li>Tigre</li>
              Estan permitidos hasta 4 pasajeros por Domo</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">precios a partir de ...</small>
              </div>
            </div>
        
            <div class="card">
              <img class="card-img-top" src="https://www.ecocamp.travel/hubfs/Suite%20Dome%20EcoCamp%20Patagonia%201920x1281%20(1)_960.webp" alt="Card image cap" >
              <div class="card-body">
                <a href="/productDetail/3">
                <h5 class="card-title">Domo SUIT</h5>
                <p class="card-text"> Destinos disponibles
                    <li>Patagonia</li>
                    <li>Lobos</li>
                    <li>Tigre</li>
              Estan permitidos hasta 4 pasajeros por Domo
                
              <div class="card-footer">
                <small class="text-muted">precios a partir de ...</small>
              </div>
            </div>
          </div>

          <footer> <%- include('../../partials/footer') %></footer>
</body>
</html>